.DS_Store
**/node_modules
src/backend/**/vendor/*/
tmp/
**/logs/nginx
uploads/*
!uploads/.gitkeep
**/test-reports/*
!**/test-reports/.gitkeep

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln