.top-menu{
  .is-active{
    background-color: transparent!important;
    color: inherit!important;
  }
  .router-link-exact-active{
    background-color: #f2f2f2!important;
    color: #0a0a0a;
  }
}
